/* AUTHENTICATION PAGE STYLES */
.auth-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  min-height: calc(100vh - 70px - 5rem); /* Full height minus navbar */
  box-sizing: border-box;
}

.auth-form {
  background-color: var(--card-background);
  padding: 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--border-color);
  box-shadow: var(--card-shadow);
  text-align: left;
}
.auth-form h2 {
  font-family: var(--font-heading);
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
.form-group {
  margin-bottom: 1.5rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}
.form-group input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--light-gray-bg);
  color: var(--text-dark);
  font-size: 1rem;
  box-sizing: border-box;
  transition: box-shadow 0.2s, border-color 0.2s;
}
.form-group input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(251, 191, 36, 0.3);
}
.auth-button {
  background-color: var(--text-dark);
  color: #ffffff;
  border: none;
  padding: 0.9rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background-color 0.2s;
}
.auth-button:hover {
  background-color: #374151;
}